language: java
jdk:
  - oraclejdk8
sudo: required
before_install:
  - sudo apt-get update -q
  - sudo apt-get install git-core gnupg flex bison gperf build-essential -y
  - sudo apt-get install  zip curl zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 -y
  - sudo apt-get install lib32ncurses5-dev x11proto-core-dev libx11-dev lib32z-dev ccache -y
  - sudo apt-get install libgl1-mesa-dev libxml2-utils xsltproc unzip -y
  - git config --global user.email "balamurali@live.com"
  - git config --global user.name "Balamurali Pandranki"
  - mkdir ~/bin
  - PATH=~/bin:$PATH
  - curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
  - chmod a+x ~/bin/repo
  - mkdir android
  - cd android
  - /usr/bin/expect 'spawn repo init -u https://android.googlesource.com/platform/manifest -b android-7.0.0_r3 \n expect "Enable color display in this user account (y/N)?" \n send "Y\r"
  - repo sync 
  - git clone https://github.com/CyanogenMod/android_device_xiaomi_kenzo.git -b cm-14.0 device/xiaomi/kenzo
  - git clone https://github.com/umang96/radon-kenzo -b radon-cm-ng kernel/xiaomi/kenzo
  - git clone https://github.com/TheMuppets/proprietary_vendor_xiaomi -b cm-14.0 vendor/xiaomi
  - ls -a
  - make clobber
  - source build/envsetup.sh
  - lunch aosp_arm-user
  - make -j4
